# Node & React
frontend/node_modules/
frontend/.env

# Python
__pycache__/          # ignore all __pycache__ everywhere
*.pyc                 # ignore all compiled .pyc files
backend/venv/
backend/.env

# OS
.DS_Store

# IDE
.vscode/
*.code-workspace

# Data/Secrets
*.sqlite3
*.log
*.env
*.csv                 # ignore CSV files (like user_ratings.csv)

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
